# Python bytecode
*.pyc

# Configuration files
config/*

# Data files
data/*.db*
data/*.json

# Virtual environment folders
.venv/
venv/
env/

# Visual Studio folders and files
.vs/*
.vscode/*

# Log file
log.txt
